.management-w{
	width: 1200px;
	margin: 20px auto;
	background-color: #fff;
	border: 1px solid #ccc;
	display: flex;
}
.management-sidebar{
	background-color: #eee;
	width:25%;
	padding-top: 60px
}
.management-onglets-i{
	color: #000;
	padding: 5px 20px;
	display: block;
	transition: 0.3s all;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc; 
	font-size: 0.9em
}
.management-onglets-i:hover{
	background-color: #1565c0;
	color: #fff;
	border-color: #1565c0
}
.management-inner{
	flex:1;
}
.management-h .title{
	background-color: #101316;
	color: #fff;
	text-align: center;
	padding: 5px;
	height: 20px
}
.management-h .title h1{
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}
.options-container{
	display: flex;
	background-color: #546E7A;
	justify-content: center;
	
}
.options-i{
	padding: 5px 10px;
	display:block;
	color: #fff;
	font-size: 0.9em;
	border: 1px solid #546E7A
}
.options-i:hover{
	background-color: #fff;
	color: #546E7A
}