
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/.env
###< environment variables ###

/public/data/
###< data (cover for articles) and website images ###