<div class="site-banner-container">
	{{ include('frontend/includes/main/_banner_logo.html.twig') }}
	<div class="site-banner-c">
		{{ include('frontend/includes/main/_site_search_bar.html.twig') }}
		{{ include('frontend/includes/main/_site_login_bt.html.twig') }}
	</div>
</div>