<footer class="site-footer">
	<div class="site-footer-c">
		<div class="footer-items">
			<div class="footer-categorys">
				<h4 class="footer-i-title">Catégories</h4>
				<ul class="links-c" id="footer-categorys-links-c"></ul>
			</div>
			<div class="footer-supp-links">
				<ul>
					<li><a href="/aboutUs" class="link">A propos de nous</a></li>
					<li><a href="/team" class="link">Notre équipe</a></li>
					<li><a href="" class="link">Nous contacter</a></li>
					<!--<li><a href="" class="link">Se connecter</a></li>
					<li><a href="" class="link">S'abonner</a></li>-->
				</ul>
			</div>
			<!--<div class="footer-contact-links">
				<span>
					Voulez-vous rejoindre l'équipe Kubwacu ?
				</span>
				<a href="">Postuler</a>
			</div>-->
		</div>
		<div class="site-footer-bottom">
			<ul class="site-socialMedia">
				<li><a href="https://www.facebook.com/kubwacu/" class="link fb"><i class="fab fa-facebook-square"></i> Facebook</a></li>
				<li><a href="https://twitter.com/kubwacu" class="link tw"><i class="fab fa-twitter"></i> Twitter</a></li>
				<li><a href="https://www.instagram.com/kubwacu/" class="link ig"><i class="fab fa-instagram"></i> Instragram</a></li>
				<li><a href="https://www.youtube.com/channel/UCwo8uIhivEeXKnn2QbhrWgA/?sub_confirmation=1" class="link yb"><i class="fab fa-youtube"></i> Youtube</a></li>
			</ul>
			<div class="site-copyright">
				<span>© 2019 - {{ render(controller("App\\Service\\Blar_DateTime::getCurrentYear")) }} | KUBWACU | Tous les droits sont réservés</span>
			</div>
		</div>
	</div>
</footer>