<div class="site-header">
	<header class="site-banner">
		{{ include('frontend/includes/main/_banner.html.twig') }}
	</header>
	<nav class="site-nav">
	   	{{ include('frontend/includes/main/_nav.html.twig') }}
	</nav>                
</div>
