<ul class="site-nav-l" id="site-nav-l">
	<li><a href="{{path("newsfeed")}}" class="site-nav-i"><i class="far fa-newspaper"></i><span>Fil d'actualité</span></a></li>
</ul>
<div class="site-nav-toggle" id="site-nav-toggle">
	<span class="site-nav-toggle-i"></span>
</div>
<div class="site-login-nav-bt">
	<!--<span><a href="" class="site-nav-bt-i login"><i class="fas fa-sign-in-alt"></i>Se connecter</a></span>-->
</div>
<script type="text/javascript" src="{{ asset('public/js/getCategorys.js') }}"></script>