<div class="article-container" id="article-container">
	<div class="loader"></div>
</div>
<script type="text/javascript">var article_id = {{article_id}}</script>
<script type="text/javascript" src="{{asset('public/js/readArticle.js')}}"></script>
