<!DOCTYPE html>
<html>
<head>
	<title>A propos de Kubwacu</title>
	<link rel="stylesheet" type="text/css" href="{{ asset("public/css/about.css")}}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="icon"  href="{{ asset("public/data/web/page_logo.png")}}">
</head>
<body>
	<header>
		<div class="header">
			<a href="https://www.kubwacu.com" class="h-l bt-back"><i class="fas fa-arrow-circle-left"></i></a>
			<a href="https://www.kubwacu.com" class="h-l logo"><img src="{{ asset("public/data/web/h_main_logo.svg")}}"></a>
		</div>
	</header>
	<div class="main">
		<h1 class="title">Présentation</h1>
		<div class="content">
			<p>			
				<strong style="color: #1565c0">KUBWACU</strong> est un site web d’actualités  créé par <strong style="color: #1565c0">Nimushimirimana Huzaifa </strong> le 1 Aôut 2020 qui a pour mission d’encourager les jeunes Burundais à créer leurs emplois, à faire de l’innovation, et à contribuer dans le développement de leur pays afin de le rendre meilleur plus qu’il ne l'est aujourd’hui.
			</p> 
			<p>
				De nos jours, l’information joue un rôle majeur dans la société. Grâce à l'information on peut révolutionner, changer, voir même influencer la société. C’est dans cette optique que le site web KUBWACU vise à promouvoir les jeunes talents Burundais, en publiant des articles en rapport avec l’éducation, l'enseignement patriotique et le développement personnel.
			</p>
		</div>
		<h1 class="title">Notre Mission</h1>
		<div class="content">
			<p>
				Encourager les jeunes Burundais à créer leurs propres emplois et à faire de l’innovation tout en contribuant à la formation patriotique afin de développer notre pays pour notre bien et surtout pour celui des générations futures.
			</p>
		</div>
		<h1 class="title vision">Vision</h1>
		<div class="content vision">
			<p>
				Créer des centres de formation pour aider et encourager les jeunes à se former et ainsi développer leurs compétences.
			</p>
			<p>
				Organiser des tournois pour encourager les jeunes à innover, à étudier et à développer leurs talents.
			</p>
			<p>
				Créer une formation gratuite pour apprendre à écrire, à lire et à faire de l’entrepreneuriat pour aider tout jeune n'ayant pas eu l'opportunité d'aller à l'école.
			</p>
			<p>
				Aider les défavorisés en leurs donnant de l'espoir et les matériels vitaux comme à manger, les habits...
			</p>
			<p>
				Donner l'opportinuté aux défavorisés d'aller à l'école.
			</p>
		</div>
	</div>
	<footer>
		<ul>
			<li><a href="https://www.facebook.com/kubwacu"><i class="fab fa-facebook-square"></i><span> Facebook</span></a></li>
			<li><a href="https://twitter.com/kubwacu"><i class="fab fa-twitter"></i><span> Twitter</span></a></li>
			<li><a href="https://www.instagram.com/kubwacu/"><i class="fab fa-instagram"></i><span> Instragram</span></a></li>
			<li><a href="https://www.youtube.com/channel/UCwo8uIhivEeXKnn2QbhrWgA/?sub_confirmation=1"><i class="fab fa-youtube"></i><span> Youtube</span></a></li>
		</ul>
		<span class="copyright">© 2019 - 2020, Kubwacu | Tous les droits sont réservés</span>
	</footer>
</body>
</html>