{% extends 'backend/manageBundle/base.html.twig' %}

{% block title %}Gérer les administarateurs - {{parent()}}{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset("/public/css/backend/manage_user.css")}}">
{% endblock %}

{% block management_title %}
	<h1><i class="fas fa-folder-open"></i> Gestion les utilisateurs</h1>
{% endblock %}

{% block management_header %}
	<li><a href="" class="options-i">Liste</a></li>
	<li><a href="" class="options-i">Ajouter</a></li>
	<li><a href="" class="options-i">Modifier</a></li>
{% endblock %}
{% block management %}{% endblock %}