{% extends 'backend/manageBundle/manage_user_base.html.twig' %}
{% block management %}
<div class="add-user-w">
	{{include('backend/includes/manageBundle/_manage_user_add.html.twig')}}
</div>
{% endblock %}