<div class="most-r-news-container">
	<div class="most-r-news-inner">
		<div class="most-r-news-h"><h1><i class="fas fa-fire-alt"></i>Les plus lus cette semaine</h1></div>
		<div class="loader" id="loader"></div>
		<div class="most-r-news-c" id="most-r-news-c">
		</div>
		<div class="most-r-news-footer">
			<span class="most-r-news-bt prev" id="most-r-news-bt-prev">Précédent</span>
			<span class="most-r-news-bt nxt" id="most-r-news-bt-nxt">suivant</span>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{asset('public/js/most_read_articles.js')}}"></script>
