<div class="news-feed-pub alert">
	{{ include('frontend/includes/newsFeed/_news_feed_pub_header.html.twig',{"title":"Mise à jour"}) }}
	<div class="alert-i-c">
		<span class="alert-title">
			<span  class="alert-title-i">
				Voulez-vous savoir plus sur Kubwacu? Cliquez sur ce lien <a href="/aboutUs">A propos de nous</a> ou sur celui-ci <a href="/team">Notre équipe</a>. Ces liens sont aussi disponible en bas de la page.
			</span>
		</span>
		<div class="alert-cover">
			<img src="{{ asset('public/data/web/kubwacu_alert_cover.jpg') }}" alt="" id="alert-cover">
		</div>
	</div>
</div>