<div class="news-feed-pub horizontal">
	{{ include('frontend/includes/newsFeed/_news_feed_pub_header.html.twig',{"title":"Publicité"}) }}
	<div class="pub-horizontal-cover">
		<img src="{{ asset('data/ex2.png') }}" id="pub-cover">
	</div>
</div>