<div class="news-feed-pub new">
	{{ include('frontend/includes/newsFeed/_news_feed_pub_header.html.twig',{"title":"Article de publicité"}) }}
	<div class="new-i-container">
		<div class="new-i-c">
			<div class="new-main-info">
				<div class="new-title">
					<a href="" class="new-title-i">
						Voici mon premièr article sur mon blog kubwacu je m'appelle Nimushimirimana Huzaifa
						c'est vraiment un grand pas pour moi
					</a>
				</div>
				<div class="new-cover">
					<img src="{{ asset('data/exemple.jpg') }}" alt="" id="new-cover">
				</div>	
			</div>
			<a href="" class="new-supp-info" title="commentaires">
				<span><i class="fas fa-eye"></i>1</span>
				<span><i class="fas fa-comments"></i>0</span>
			</a>
		</div>
	</div>
</div>